@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 5%;
  background: radial-gradient(circle at top left, #ffa94d, #cc6600 90%);
  color: white;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
}

.hero-content h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #eaeaea;
  margin: 1rem 0 2rem;
}

.hero-img {
  width: 40%;
  max-width: 500px;
}

.hero-btn {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 30px;
}
