/* NavBar */
.custom-navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1030;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: white !important;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.95rem;
}

/* Reset básico */
body {
  background-color: #ff9f33;
  background-image: radial-gradient(circle at top left, #ffc074, #e67300 90%);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  padding-top: 70px;
}

/* Títulos */
h1 {
  font-weight: 700;
  color: #000;
}

h2, h3, h4 {
  font-weight: 600;
  color: #444;
}

/* Enlaces */
a {
  text-decoration: none;
}

a.nav-link {
  color: #ffffff;
  transition: color 0.3s ease;
}

a.nav-link:hover {
  color: #ddd;
}

/* Botones */
.btn-primary {
  background-color: #212529;
  border: none;
}

.btn-primary:hover {
  background-color: #000;
}

.btn-danger {
  background-color: #6c757d;
  border: none;
}

.btn-danger:hover {
  background-color: #495057;
}

/* Cards */
.card {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

/* Footer */
footer {
  background-color: #f1f1f1;
  border-top: 1px solid #dee2e6;
  font-size: 0.9rem;
  color: #6c757d;
}
