/* NavBar */
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.95rem;
}

.custom-navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 136, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1030;
}

/* Body */
body {
  background-color: #ffb14d;
  background-image: radial-gradient(circle at top left, #ffd39e, #ff8c1a 90%);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  padding-top: 70px;
}

/* Títulos */
h1 {
  font-weight: 700;
  color: #000;
}

h2, h3, h4 {
  font-weight: 600;
  color: #555;
}

/* Enlaces */
a {
  text-decoration: none;
}

a.nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

a.nav-link:hover {
  color: #e6e6e6 !important;
}

/* Botones */
.btn-primary {
  background-color: #212529;
  border: none;
}

.btn-primary:hover {
  background-color: #000;
}

.btn-danger {
  background-color: #6c757d;
  border: none;
}

.btn-danger:hover {
  background-color: #495057;
}

.btn-home {
  background-color: #fff;
  color: #212529;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-home:hover {
  background-color: #f4f4f4;
  transform: scale(1.02);
}

/* Cards */
.card {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

/* Footer */
footer {
  background-color: #f1f1f1;
  border-top: 1px solid #dee2e6;
  font-size: 0.9rem;
  color: #6c757d;
}
